body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

header p {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
}
header .header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 10px 0;
}
header i {
  font-size: 20px;
}
header .back {
  position: absolute;
  left: 20px;
}
header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.bg-dark-grey {
  background-color: #EAEAEA;
}

.bg-light-grey {
  background-color: #F6F6F6;
  padding-bottom: 50px;
  padding-top: 15px;
}

.shadow-title {
  position: relative;
  z-index: 21;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.shadow-ville {
  position: relative;
  z-index: 20;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
}

.padding-p {
  padding: 0 20px;
}

.padding-h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.main-homepage h2 {
  font-size: 24px;
  font-weight: 700;
}
.main-homepage h3 {
  font-size: 18px;
  font-weight: 700;
}

.button {
  background: linear-gradient(#9356DC, #FF79DA);
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
  height: 100%;
  border: none;
  padding: 15px 30px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  transition: opacity 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}

.fonctionnement {
  padding: 45px 15px;
}
.fonctionnement .fa-store {
  color: #9356DC;
}
.fonctionnement h2 {
  margin-bottom: 20px;
}

.numero {
  position: relative;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
}

.etape {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 25px 20px;
  margin-bottom: 20px;
}
.etape i {
  color: #7e7e7e;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 45px 15px;
  gap: 15px;
}
.restaurants a {
  text-decoration: none;
  color: inherit;
}
.restaurants .restaurants-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
}
.restaurants .card-accueil {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.restaurants .card-accueil .card-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.restaurants .card-accueil p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants .card-accueil img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 230px;
}
.restaurants .card-accueil .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}
.restaurants .card-accueil .text {
  padding-left: 10px;
  margin-bottom: 15px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space {
  display: flex;
  gap: 20px;
  align-items: center;
}

.heart-container {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.heart {
  padding-right: 45px;
  padding-top: 20px;
  font-size: 22px;
  position: relative;
}
.heart .fa-heart {
  position: absolute;
  left: 0;
}
.heart .fa-heart.hovered {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition-duration: 0.3s;
}
.heart .fa-heart.hovered:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding-left: 25px;
  color: white;
  padding-top: 15px;
  padding-bottom: 20px;
}
footer p {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
footer a {
  color: white;
  text-decoration: none;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
footer ul i {
  margin-right: 10px;
}

.loader {
  display: flex;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: hide-loader 0s 2s forwards;
  z-index: 50;
}

.circle {
  width: 50px;
  height: 50px;
  border: 5px solid #9356DC;
  border-top-color: #FF79DA;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes hide-loader {
  to {
    visibility: hidden;
  }
}
/* CODE POUR LES MENUS  */
.img-menu {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}

.main-container {
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  padding: 10px;
  margin-top: -50px;
  z-index: 10;
  position: relative;
}
.main-container .fa-heart {
  position: absolute;
  top: 0px;
}
.main-container h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-left: 5px;
}
.main-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 40px;
  position: relative;
}
.main-container h3::after {
  content: "";
  position: absolute;
  background: #99E2D0;
  width: 40px;
  height: 3px;
  left: 0;
  bottom: -8px;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  align-items: center;
}
.card .menu-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
.card .card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .price {
  font-weight: 700;
  font-size: 15px;
  margin-top: auto;
  transition: transform 0.3s;
  z-index: 2;
}
.card .check-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.card .check-bg i {
  font-size: 20px;
}
.card:hover .check-bg {
  transform: translateX(0);
}
.card:hover .price {
  transform: translateX(-60px);
}

.menu-animation {
  opacity: 0;
  animation: apparition 0.8s ease forwards;
}

@keyframes apparition {
  to {
    opacity: 1;
  }
}
.entrees {
  animation-delay: 0.2s;
}

.plats {
  animation-delay: 0.6s;
}

.desserts {
  animation-delay: 1s;
}

/* DESKTOP  */
@media (min-width: 1024px) {
  .shadow-ville {
    box-shadow: none;
  }
  .shadow-title {
    box-shadow: none;
  }
  .desktop-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .restaurants .restaurants-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 40px;
  }
  .padding-left-right {
    padding-left: 200px;
    padding-right: 200px;
  }
  .etape {
    width: 33.3333333333%;
  }
  .main-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .space {
    align-items: center;
    justify-content: center;
  }
  .main-container h2 {
    font-family: "Shrikhand", sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
  }
  footer p {
    margin-right: 20px;
    margin-left: 50px;
    align-content: center;
    margin-top: 10px;
  }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 70px;
    margin-top: 20px;
  }
  footer ul i {
    margin-right: 10px;
  }
}/*# sourceMappingURL=style.css.map */